@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#2196F3;
    --other-color:#757575;
    --just-color:#F5F4FA;
}
.flex{
    display: flex;
}
body{
    font-weight: 600;
    font-family: "Roboto" , sans-serif;
}
.btngrid{
    gap: 25px;
}
.underline{
    position: absolute;
    top: 60px;
    width: 83px;
    height: 2px;
    background-color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 25px;
}
.menu a:hover{
    color: var(--main-color);   
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.menu{
    padding-right: 300px;
    margin-top: 30px;
    gap: 55px;
    justify-content: space-around;
}
.header-wrap{
    margin-left: 150px;
    justify-content: space-around;
    gap: 55px;
}
.p2-wrap{
    position: absolute;
    margin-left: 900px;
    margin-top: -17px;
    gap: 50px;
}
.p2-wrap a{
    color: var(--other-color);
}
.svg{
    padding-right: 5px;
}
.logo{
    position: absolute;
    left: 250px;
    top: 30px;
    scale: 125%;
}
.bluehover:hover > a{
    color: var(--main-color);
}
.bluehover:hover::before{
content: url(./images/envelope\ \(hover\).svg);
padding-right: 5px;
scale: 85%;
}
.bluehover:hover > .svg:nth-child(1){
    display: none;
}
.btn1:hover{
    background-color: var(--main-color);
    box-shadow: 0px 2px 2px 0px #2195f38a;

    box-shadow: 0px 1px 2px 0px #2195f38a;
    
    box-shadow: 0px 3px 1px 0px #2195f38a;   
}
.btn1:hover > a{
    color: white;
}
.buttons{
justify-content: center;
}
.menuwrap{
 margin-right: 80px;
 margin-top: 50px;
 gap: 25px;
}
.btn{
    background-color:var(--just-color);
    width: 125px;
    height: 40px;
    padding: 10px 25px 5px 25px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #0000001F;

box-shadow: 0px 1px 2px 0px #00000014;

box-shadow: 0px 3px 1px 0px #0000001A;
cursor: pointer;
}
.btn:nth-child(3){
    padding-right: 10px;
}
.btn1{
    cursor: pointer;
}
.pad{
    width: 110px;    
}
.btn:hover{
    background-color: var(--main-color);   
    box-shadow: 0px 2px 2px 0px #2195f38a;

    box-shadow: 0px 1px 2px 0px #2195f38a;
    
    box-shadow: 0px 3px 1px 0px #2195f38a;    
}
.btn:hover a{
    color: white;
}
.btn1{
    background-color: var(--just-color);
    width: 75px;
    height: 40px;
    padding: 10px 25px 6px 25px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #0000001F;

box-shadow: 0px 1px 2px 0px #00000014;

box-shadow: 0px 3px 1px 0px #0000001A;    
}
.btn:last-child{
    padding-left: 20px;
}
.card{
border: solid 2px var(--just-color);
width: 373px;    
height: 400px;
}
.card h3,h5{
    padding-top: 15px;
    padding-left: 20px;
}
.card h5{
    color: var(--other-color);
    font-family: 'Roboto' , sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 30px;
}
.sec2-wrap{
    flex-direction: column;
}
.group{
    margin-top: 50px;
    gap: 50px;
    margin-left: 650px;
}
    
.overlay{
    display: none;
    position: absolute;
    width: 370px;
    height: 294px;
    background-color: #2195f390;
    opacity: 0;
animation: slide-up-opacity .6s cubic-bezier(0.4, 0, 0.2, 1) 500ms forwards;
}

.overlay p {
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: white;
}
@keyframes slide-up-opacity {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }  
.footer{
    margin-top: 100px;
    padding-bottom: 100px;
}
.tes1:hover{
    animation: opac cubic-bezier(0.4, 0, 0.2, 1) 700ms forwards;
    content: url(./images/Property\ 1=d2.svg); 
    margin-bottom: 2px; 
    cursor: pointer;
}
.tes2:hover{
    animation: opac cubic-bezier(0.4, 0, 0.2, 1) 700ms forwards;
    content: url(./images/Ellipse_bluefoot.svg);  
    margin-bottom: 2px; 
    cursor: pointer;
}
.tes3:hover{
    animation: opac cubic-bezier(0.4, 0, 0.2, 1) 700ms forwards;
    content: url(./images/Property\ 1=d1.svg); 
    margin-bottom: 2px; 
    cursor: pointer;
}
.tes4:hover{
    animation: opac cubic-bezier(0.4, 0, 0.2, 1) 700ms forwards;
    content: url(./images/Instagram_2.svg);  
    margin-bottom: 2px; 
    cursor: pointer;
}
.footext{
    margin-top: 15px;
    margin-left: 50px;
    color: white;
}
.footext1{
    margin-top: 15px;
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.60);;
}
.imgvgg{
    padding-top: 70px;
    margin-bottom: 100px;
    gap: 20px;
    margin-left: 750px;
}
.gap{
    padding-left: 10px;
}
.join{
    padding-left: 35px;
    }
    .join a{
        color: white;
    }
    .soc{
        padding-top: 10px;
    }
    .great{
        margin-top: 100px;
        margin-left: 20px;
    }
    @keyframes slide-up-opacity {
        0% {
          transform: translateY(100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      .footer{
        background-color: #2F303A;
        width: 100%;
        height: 252px
    }
    .webstudiowhite{
        margin-top: 50px;
        margin-left: 50px;
    }
@media (max-width:1920px){
    .logo{
        position: absolute;
        left: 150px;
        top: 30px;
        scale: 100%;
    }   
    .group{
        margin-top: 50px;
        gap: 50px;
        margin-left: 370px;
    }
    .menu{
        margin-left: 225px;
    }
    .p2-wrap{
        margin-left: 800px;
    }
    .menuwrap{
        margin-left: 150px;
        margin-top: 50px;
        gap: 25px;
    }
}
@media (max-width:1440px){
    .logo{
        position: absolute;
        left: 50px;
        top: 30px;
        scale: 100%;
    }   
    .group{
        margin-top: 50px;
        gap: 50px;
        margin-left: 125px;
    }
    .menuwrap{
        margin-left: 100px;
        margin-top: 50px;
        gap: 25px;
    }
    .p2-wrap{
        margin-left: 600px;
    }
}
@media (max-width:1200px){
    .logo{
        position: absolute;
        left: 50px;
        top: 30px;
        scale: 100%;
    }   
    .group{
        margin-top: 50px;
        gap: 50px;
        scale: 90%;
        margin-left: -5px;
    }
    .menuwrap{
        margin-left: 100px;
        margin-top: 50px;
        gap: 25px;
    }
    .p2-wrap{
        margin-top: -25px;
        margin-left: 650px;
        flex-direction: column;
        gap: 5px;
    }
}
@media (max-width:768px){
    .logo{
        position: absolute;
        margin-left: 10px;
        top: 30px;
        scale: 100%;
    }   
    .group{
        flex-direction: column;
        margin-top: 75px;
        gap: 50px;
    }
    .p2-wrap{
        display: none;
    }
    /* .great{
        display: none;
    }
    .p2-wrap a{
    display: none;
    }
    .bluehover:hover::before{
        content: url(./images/envelope\ \(hover\).svg);
        position: absolute;
        margin-left: -60px;
        top: 32px;
        scale: 140%;
        }
    .p2-wrap img{
        display: none;
        flex-direction: row;
        position: absolute;
        scale: 150%;
        margin-left: -150px;
        top: -5px;
    }
    .menu{
        margin-left: 110px;
    }
    .burger-menu{
        margin-top: 60px;
    }
    .underline{
        display: none;
    }
    .btngrid{
        position: absolute;
        gap: 25px;
        margin-left: 60px;
        margin-top: 70px;
    } */
    .sec2-wrap{
        margin-left: 200px;
    }
}
@media (max-width:420px){
    .logo{
        position: absolute;
        left: 50px;
        top: 75px;
        scale: 125%;
    }   
    .group{
        flex-direction: column;
        margin-top: 100px;
        gap: 50px;
        margin-left: 25px;
        scale: 105%;
    }
    .menuwrap{
        margin-left: -150px;
        margin-top: 150px;
        gap: 25px;
        flex-direction: column;
    }
    .menu{
        margin-left: -75px;
        margin-top: 150px;
        position: absolute;
        flex-direction: column;
    }
    .great{
        display: none;
    }
    .burger-menu{
        display: none;
    }
    /* .p2-wrap a{
        display: block;
    }
    .p2-wrap img{
        position: unset;
    }
    .p2-wrap .smth{
        position: unset;   
    }
    .burger{
        display: flex;
    }
    .burger-menu:not(.active){
        display: none;
    }
    .burger-menu.active{
        display: flex;
    }
    .burger-menu.active > .sec2-wrap{
        margin-top: 600px;  
    } */
    .sec2-wrap{
        margin-left: -8px;
        margin-top: 100px;
    }
    .p2-wrap{
        flex-direction: column;
        position: absolute;
        margin-top: 380px;
        margin-left: -80px;
        gap: 25px;
    }
}